.footer {
    background:rgba(53, 53, 53, 1);
    margin-top: 16px;

    &__container {
        padding: 20px;
    }

    &__title {
        font-family: 'Shrikhand';
        color: white;
    }

    &__navbar {
        color: white;
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: white;
        margin: 16px 0;
        pointer-events: none;
    }

    i {
        padding: 0 8px 0 0;
    }
}
