/* _loader.scss */

@keyframes loaderAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hideLoader 3s ease 0s 1 forwards; /* Animation pour masquer le loader après 3 secondes */
}

.loader__circle {
    width: 50px;
    height: 50px;
    border: 4px solid transparent;
    border-top-color: #9356DC; /* Couleur 1 */
    border-radius: 50%;
    animation: loaderAnimation 3s linear infinite;
}

.loader__circle:nth-child(2) {
    animation-delay: 0.2s; /* Délai pour la deuxième couleur */
    border-top-color: #FF79DA; /* Couleur 2 */
}

.loader__circle:nth-child(3) {
    animation-delay: 0.3s; /* Délai pour la troisième couleur */
    border-top-color: #99E2D0; /* Couleur 3 */
}

@keyframes hideLoader {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
